@require '../../../common/client/stylus/global-variables.styl'

.site-footer

  &__row
    align-items: center

  &__column
    @media (max-width: $tablet)
      margin-bottom: $default-padding

  &__menu
    text-align: center

  &__social-links
    text-align: right
    @media (max-width: $tablet)
      text-align: center