/* Colors */

/* Paths */

$path-to-image = '../../images/'

/* Screen */

$desktop-wide = 1900px //dtw
$desktop = 1200px // dt
$tablet = 1024px //tb
$tablet-small = 768px //tbs
$phone = 480px //ph
$phone-small = 320px //phs

/* Sizes */

$default-padding = 15px

// border-radius

$border-radius-default = 5px
$border-radius-small = 2px

/* Font */

$font-family-title = 'Montserrat', sans-serif
$font-family-common = 'PT Serif', serif

// font-size

// font-weight

$font-weight-bolder = 700
$font-weight-semi-bold = 600
$font-weight-normal = 400
$font-weight-light = 300

// letter-spacing

// transition

$transition-default = .2s
$transition-middle = .5s