@require '../../../common/client/stylus/global-variables.styl'

.logo
  display: block
  width: 133px
  height: 49px
  overflow: hidden
  margin: auto

  &__image
    size(100%)
    &--png
      display: none