@require '../../../common/client/stylus/global-variables.styl'

.section-header
  margin-bottom: $default-padding * 4
  text-align: center
  &--left
    text-align: left
  &__top
    margin-bottom: $default-padding
    text-transform: uppercase
    font-family: $font-family-title
    font-weight  $font-weight-bolder
    &--no-margin
      margin-bottom: 0
  &__main
    margin-bottom: $default-padding
    font-family: $font-family-title
    font-weight  $font-weight-bolder
  &__short-desc
    display: inline-block
    max-width: 450px
    line-height: 33px
    font-weight: $font-weight-normal